<div class="text-layout">
  <h1>Pipes no comunes</h1>
  <p>Pipes incluidos en angular - usualmente en el common module.</p>

  <div class="grid">
    <div class="col col-6">
      <p-fieldset legend="i18nSelect Pipe" [toggleable]="true">
        Saludos {{ nombre }}, es un placer
        {{ genero | i18nSelect: invitacionObj }} a nuestro evento
      </p-fieldset>
    </div>
    <div class="col col-6">
      <p-fieldset legend="i18nPlural Pipe" [toggleable]="true">
        {{ clientes.length | i18nPlural: clientesMpa }}
      </p-fieldset>
    </div>
  </div>
</div>
